.box1 {
  -moz-border-radius: 5px;
  -foz-border-radius: 5px;
  -webkit-border-raduis: 5px;
  float: left;
  width: 100px;
  height: 100px;
  background: deeppink;
}
.box2 {
  -moz-border-radius: 10px;
  -foz-border-radius: 10px;
  -webkit-border-raduis: 10px;
  float: right;
  width: 100px;
  height: 20px;
  background: green;
}
