.wjs_header ul {
    margin-bottom: 0;
}

.wjs_header ul li{
    float:left;
    line-height:40px;
    border-right: 1px solid grey;
    text-align: center;
    font-size: 10px;
    height: 40px;
}

@font-face {
    font-family: 'wjs';
    src: url('../fonts/MiFie-Web-Font.eot'); /* IE9*/
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MiFie-Web-Font.woff') format('woff'), /* chrome、firefox */
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/MiFie-Web-Font.svg') format('svg'); /* iOS 4.1- */
}

.wjs_header ul {
    font-family: wjs;
    position:relative;
}

.wjs_font {
    font-family: wjs;
}

.wjs_font_log::before{
    content: "\e920";
}

.wjs_font_text::before{
    content: "\e93e";
}

.wjs_header ul>a{
    position:absolute;
}

.wjs_header ul li:first-of-type{
    position:relative;
}

.wjs_header ul li:first-of-type::before{
    content: "\e908";
}

.wjs_header ul li:first-of-type:hover p{
    display:block;
}

.wjs_header ul li:last-of-type{
    border-right:none;
}

.wjs_header ul li p {
    position:absolute;
    width: 120px;
    height: 136px;
    background: url("../images/code.jpg") no-repeat;
    left: 50%;
    margin-left: -60px;
    display: none;
    z-index:999;
    border:1px solid #9d9d9d;
    border-top: none;
}





/*导航条样式*/
.wjs_nav{
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    background: #F4F4F4;
}

.wjs_nav .container{
    padding-left:0;
}

.wjs_nav .navbar-nav > li > a {
    color: #9d9d9d;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
    border-bottom:3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #9d9d9d;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #C3C3C3;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color:#9d9d9d;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #101010;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
/* 保证 */
.wjs_promisi .media-list {
    padding:50px 40px;
}

/* 消息 */
.wjs_info .items .item{
    display: block;
}

.wjs_info .items .item_left,.item_right{
    display: inline-block;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

/* 新闻导航 */
.wjs_font_new01::before{
    content:"\e910";
}

.wjs_font_new02::before{
    content:"\e911";
}

.wjs_font_new03::before{
    content:"\e912";
}

.wjs_font_new04::before{
    content:"\e913";
}


.wjs_news .container {
    padding-top:20px;
}

.wjs_news .ntabsLine::before{
    content: "";
    position:absolute;
    width:1px;
    height:100%;
    left:50%;
    bottom:0;
    transform:translateX(-10px);
    border-left:1px dashed #9d9d9d;
}

.wjs_news .news-header h4{
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #9d9d9d;
    text-align: center;
    position: relative;
}

.wjs_news .news-header h4::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    bottom:0;
    right:0;
    transform: translate(100%,50%);
}

.nav-ntabs {
    padding-left: 5px;
}

@media screen and (max-width:992px){
    .wjs_news .nav-ntabs>li{
        margin-right:80px;
    }
}

@media screen and (max-width:768px){
    .wjs_news .nav-ntabs>li{
        width:25%;
        margin-right:0;
    }
}

.nav-ntabs > li {
    float: left;
    margin-bottom: 40px;
    position: relative;
}
.nav-ntabs > li > a {
    line-height: 1.42857143;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #e92322;
}

.nav-ntabs > li > a span::before{
    font-size: 30px;
    color:#fff;
}

.nav-ntabs {
    position:relative;
    height: 100%;
}

.nav-ntabs > li > a:hover {
    background: #9d9d9d;
}

.nav-ntabs > li:last-of-type {
    margin-bottom: 0;
}

.nav-ntabs > li.active > a,
.nav-ntabs > li.active > a:hover,
.nav-ntabs > li.active > a:focus {
    /!*color: #555;*!/
    cursor: default;
    background-color: #9d9d9d;
    /!*border: 1px solid #ddd;*!/
    /!*border-bottom-color: transparent;*!/
}
.nav-ntabs.nav-justified {
    width: 100%;
    /!*border-bottom: 0;*!/
}
.nav-ntabs.nav-justified > li {
    float: none;
}
.nav-ntabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-ntabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-ntabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-ntabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-ntabs.nav-justified > li > a {
    margin-right: 0;
    /!*border-radius: 4px;*!/
}
.nav-ntabs.nav-justified > .active > a,
.nav-ntabs.nav-justified > .active > a:hover,
.nav-ntabs.nav-justified > .active > a:focus {
    /!*border: 1px solid #ddd;*!/
}
@media (min-width: 768px) {
    .nav-ntabs.nav-justified > li > a {
        /!*border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;*!/
    }
    .nav-ntabs.nav-justified > .active > a,
    .nav-ntabs.nav-justified > .active > a:hover,
    .nav-ntabs.nav-justified > .active > a:focus {
        /!*border-bottom-color: #fff;*!/
    }
}

.wjs_font_partner01::before {
    content: "\e92f";
}
