.wjs_header ul {
    margin-bottom: 0;
}

.wjs_header ul li{
    float:left;
    line-height:40px;
    border-right: 1px solid grey;
    text-align: center;
    font-size: 10px;
    height: 40px;
}

@font-face {
    font-family: 'wjs';
    src: url('../fonts/MiFie-Web-Font.eot'); /* IE9*/
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MiFie-Web-Font.woff') format('woff'), /* chrome、firefox */
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/MiFie-Web-Font.svg') format('svg'); /* iOS 4.1- */
}

.wjs_header ul {
    font-family: wjs;
    position:relative;
}

.wjs_font_log::before{
    content: "\e920";
}

.wjs_font_text::before{
    content: "\e93e";
}

.wjs_header ul>a{
    position:absolute;
}

.wjs_header ul li:first-of-type{
    position:relative;
}

.wjs_header ul li:first-of-type::before{
    content: "\e908";
}

.wjs_header ul li:first-of-type:hover p{
    display:block;
}

.wjs_header ul li:last-of-type{
    border-right:none;
}

.wjs_header ul li p {
    position:absolute;
    width: 120px;
    height: 136px;
    background: url("../images/code.jpg") no-repeat;
    left: 50%;
    margin-left: -60px;
    display: none;
    z-index:999;
    border:1px solid #9d9d9d;
    border-top: none;
}





/*导航条样式*/
.wjs_nav{
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
    background: #F4F4F4;
}

.wjs_nav .container{
    padding-left:0;
}

.wjs_nav .navbar-nav > li > a {
    color: #9d9d9d;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
    border-bottom:3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #9d9d9d;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #C3C3C3;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color:#9d9d9d;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #101010;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}